<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictonary</title>
</head>
<body>
    {% for key, value in datas.items %}
    <h2>{{key}} == {{value}}<br></h2>
    
    {% for k, v in value.items%}
    
    <h3>student  {{forloop.parentloop.counter }} {{k}} => {{v}}<br></h3>
    
    {% endfor %}
    <br>
    {% endfor %}
</body>
</html>